{% extends "base.html" %}
{% load humanize %}
{% block title %}Carrito{% endblock %}

{% block content %}
<div class="carrito-container">
  <h2>Tu Carrito de Compras</h2>
  <ul id="productos-carrito"></ul>
  <div id="total-carrito"></div>
  <div class="contenedor-btn-carrito">
    <button id="vaciar-carrito-btn" onclick="vaciarCarrito()">Vaciar Carrito</button>
    <button class="comprar-carrito-btn">Comprar</button>
  </div>     
</div>
<script>
  document.querySelector('.comprar-carrito-btn').onclick = function() {
    window.location.href = "/transbank/";
  };
</script>
{% endblock %}