{% extends "base.html" %}
{% load humanize %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div id="catalogo" class="catalogo-grid">
  {% for producto in productos %}
    <div class="card" data-id="{{ producto.id }}">
      <img src="{{ producto.url_imagen }}" alt="{{ producto.nombre }}">
      <div class="card-content">
        <h3>{{ producto.nombre }}</h3>
        <p class="price">Desde ${{ producto.precio|floatformat:0|intcomma }}</p>
      </div>
    </div>
  {% endfor %}
</div>
<script>
  document.querySelectorAll('.card').forEach(card => {
    card.addEventListener('click', () => {
      const id = card.getAttribute('data-id');
      window.location.href = '/detalle/' + id + '/';
    });
  });
</script>
{% endblock %}